body{
    padding: 0;
    margin: 0;
   background-image: url(../imagenes/desierto.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#header {
    background-color: rgb(68 68 68 / 68%);
    font-family: Gotham;
    text-align: center;
    font-size: x-large;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
a{
    text-decoration:none;
    color: rgb(150, 89, 19);
}
.vacio{
    height: 37px
}
.row{
    text-align: center;
}
p,h4{
    color:white;
    
}
